extends layout

block content
  div.container(ng-controller='HaikuController')
      h1 Haikus
      div.ui.items.divided
          div.item(ng-repeat='haiku in haikus')
              div.content

                  button.ui.button.red.reject(ng-click='reject(haiku)') Hylkää
                  button.ui.button.green.accept(ng-click='accept(haiku)') Hyväksy

                  div
                      h2 {{haiku.haiku}}
                      p by {{haiku.name}}


