extends layout

block content
  div.container(ng-controller='HaikuController')
      h1 Haikus
      a(href='/logout') logout


      div.ui.buttons.show-selector
          button.ui.button(ng-click='show("new")',ng-class='{active: showOnly=="new"}') New
          button.ui.button(ng-click='show("accepted")',ng-class='{active: showOnly=="accepted"}') Accepted
          button.ui.button(ng-click='show("rejected")',ng-class='{active: (showOnly=="rejected")}') Rejected

      div.ui.items.divided
          div.item(ng-repeat='haiku in haikus')
              div.content

                  button.ui.button.red.reject(ng-click='reject(haiku)',ng-disabled='haiku.actionsDisabled',ng-class='{disabled:haiku.actionsDisabled}') Reject
                  button.ui.button.green.accept(ng-click='accept(haiku)',ng-disabled='haiku.actionsDisabled',ng-class='{disabled:haiku.actionsDisabled}') Accept

                  div
                      pre {{haiku.haiku}}
                      p by {{haiku.nick}}
                      p Total char count for Twitter: {{haiku.haiku.length + haiku.nick.length + 4 + 11}}
