doctype html
html(ng-app='HaikuBackend')
  head
    title Haiku Service

    script(src='/lib/angular/angular.min.js')
    script(src='/lib/angular-route/angular-route.min.js')

    script(src='/lib/jquery/dist/jquery.min.js')

    script(src='/app/app.js')

    link(rel='stylesheet', href='/css/style.css')
    link(rel='stylesheet', href='/lib/semantic-ui/dist/semantic.min.css')

  body
    block content